extends layout

block content 
    h1= title
    p #{title} 
    table(class='resultsTable')
        each heading in headings
            th= heading
        each val in results
            tr
            each col in val 
                td= col