body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #ede9d1;
  background-color: #2b2a2a;
}

a {
  color: #e8c702;
}
footer {
  width: max-content;
  padding: 10px; 
  align-items: center;
}
h1.appName {
  color: goldenrod;
}
div.container {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}
div.stats {
  border: 1px solid;
  border-radius: 4px;
  background-color: #383838;
  min-height: 10%;
  min-width: 10%;
  float: left;
  padding: 7px;
  margin-right: 10px;
} 
table.statTable{
  border: 0px;

}
td.stat {
  background-color: transparent;

}
table.resultsTable {
  
  border-radius: 4px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 100%;
  text-align: center;
}
th {
  border-bottom: 1px solid;
  font-size: medium;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 4px;
  padding-right: 4px;
  
}
td.result {
  font-size: medium;
  padding-bottom: 4px;
  padding-top: 4px;
  border-bottom: 1px solid;
  
  min-width: 20px;
  
}

tr:hover {
  background-color: #555550;
}

div.strengthsCloud {
  border: 1px solid;
  border-radius: 4px;
  background-color: #383838;
  max-width: 50%;
}
li.positive {
  color:lightgreen; 
}
li.negative {
  color: lightcoral;
}